@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #f6f7f7;
  color: #333;
  font-family: "Graphik Web", Arial, Sans-serif;
  line-height: 1.5rem;
  font-size: 1em;
}
